html {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: absolute;
    width: 100vw;
    height: 220vh;
}


#header {
    clear: both;

    width: 100vw;
    height: 88vh;
    position: relative;
}

#headerText {
    width: 42vw;
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 40vh;

}

#headerText h1 {
    color: #65737e;
    font-size: 9vh;
    font-weight: 100;
    margin: 1px;
    border-bottom: 2px solid #81d4fa;
}

#headerText h3 {
    color: #65737e;
}

.middle{
    position: relative;
    color: red;
    background: url("../img/thinarrow.png") no-repeat 50vh;

}

.image {
    position: relative;
}
.bottom {
    position: relative; 
}

